<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Strona administratora </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user.css" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/admin/missions.js"></script>
    <script src="/js/sortable.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" th:href="@{/admin}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/soldiers}"> Żołnierze </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}"> Użytkownicy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/addresses}"> Adresy </a>
            </li>
            <li class="nav-item nav-item active">
                <a class="nav-link" th:href="@{/admin/missions}"> Misje </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/teams}"> Grupy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/news}"> Aktualności </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}"> PANEL ADMINISTRATORA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class = "col-12 p-0">
            <div class = "jumbotron min-vh-100 text-center d-flex flex-column">
                <div class = "row">
                    <div class="col-12 p-0">
                        <input type="text" placeholder="Szukaj po nazwie" id="searchMission"> <button type="button" class="btn btn-primary" onclick="searchMission()"> Szukaj </button>
                    </div>
                </div>
                <table class="table table-hover table-striped sortable" id="missionsTable">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'#'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'Dowódca'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'Nazwa'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'Grupy'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'Data rozpoczęcia'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="'Data zakończenia'"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="''"></th>
                        <th class="text-info font-italic font-weight-bold h4" th:text="''"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="m : ${missions}">
                        <tr th:id="${m.id}">
                            <td th:text="${m.id}"></td>
                            <td th:text="${m.commander.firstName + ' ' + m.commander.lastName}"></td>
                            <td th:text="${m.mission}"></td>
                            <td th:text="${m.teams}"></td>
                            <td th:text="${m.startDate}"></td>
                            <td th:if="${m.endDate}" th:text="${m.endDate}"></td>
                            <td th:unless="${m.endDate}" th:text="'W trakcie'"></td>
                            <td><button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-warning update" th:onclick="'endMission(event,'+${m.id}+')'">Zakończ misję</button></td>
                            <td><button type="button" class="btn btn-danger delete" th:onclick="'deleteMission(event,'+${m.id}+')'">Usuń</button></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"> Dodaj </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalTitle">Dodawanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/missions}" method="post" th:object="${missionForm}" id="addMissionForm">
                        <input type="text" th:field="*{mission}" th:placeholder="'Nazwa'" required />
                        <select th:field = "*{commander}" class = "form-control" required>
                            <option value = "" hidden="hidden" selected="selected"> Dowódca </option>
                            <option th:each = "s : ${soldiers}" th:value = "${{s}}" th:text = "${s.firstName + ' ' + s.lastName}" />
                        </select>
                        <select th:field = "*{teams}" class = "form-control" required multiple="multiple">
                            <option th:each = "t : ${teams}" th:value = "${{t}}" th:text = "${t.team}" />
                        </select>
                        <input type="text" th:field="*{startDate}" th:placeholder="'Data rozpoczęcia'" onfocus="(this.type='date')" />
                        <input type="submit" class="btn btn-primary" value="Dodaj" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom">
    <div class="container text-center font-italic">
        <p class="h3"> © 2019 Copyright: <a class="text-warning font-weight-bold" th:href="@{https://github.com/jsildatk}"> Fajna firma </a></p>
    </div>
</footer>
</body>
</html>