<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Aktualności </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user.css" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}"> Panel administratora </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/commander}"> Panel dowódcy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/soldier}"> Panel żołnierza </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}"> AKTUALNOŚCI </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/news}" th:text="${'Aktualności'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/settings}" th:text="${'Ustawienia'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class = "col-12 p-0">
            <div class = "jumbotron min-vh-100 text-center d-flex flex-column justify-content-center">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-info font-italic font-weight-bold h1" th:text="${news.title}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${news.content}"></td>
                    </tr>
                    <tr>
                        <td th:text="'Dodał: ' + ${news.user.getUsername()}"></td>
                    </tr>
                    <tr>
                        <td th:text="'Data dodania: ' + ${news.addDate}"></td>
                    </tr>
                    <tr>
                        <td><a class="text-success h4" th:href="@{/news}" th:text="'Wszystkie aktualności'"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom">
    <div class="container text-center font-italic">
        <p class="h3"> © 2019 Copyright: <a class="text-warning font-weight-bold" th:href="@{https://github.com/jsildatk}"> Fajna firma </a></p>
    </div>
</footer>
</body>
</html>